@page
@model WebApplication.Pages.Volunteers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Volunteer.ID" />
            <div class="form-group">
                <label asp-for="Volunteer.Firstname" class="control-label"></label>
                <input asp-for="Volunteer.Firstname" class="form-control" />
                <span asp-validation-for="Volunteer.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Lastname" class="control-label"></label>
                <input asp-for="Volunteer.Lastname" class="form-control" />
                <span asp-validation-for="Volunteer.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Gender" class="control-label"></label>
                <input asp-for="Volunteer.Gender" class="form-control" />
                <span asp-validation-for="Volunteer.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Age" class="control-label"></label>
                <input asp-for="Volunteer.Age" class="form-control" />
                <span asp-validation-for="Volunteer.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Birthdate" class="control-label"></label>
                <input asp-for="Volunteer.Birthdate" class="form-control" />
                <span asp-validation-for="Volunteer.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Desired_workplace" class="control-label"></label>
                <input asp-for="Volunteer.Desired_workplace" class="form-control" />
                <span asp-validation-for="Volunteer.Desired_workplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Field_of_activity" class="control-label"></label>
                <input asp-for="Volunteer.Field_of_activity" class="form-control" />
                <span asp-validation-for="Volunteer.Field_of_activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Occupation" class="control-label"></label>
                <input asp-for="Volunteer.Occupation" class="form-control" />
                <span asp-validation-for="Volunteer.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Occupation_description" class="control-label"></label>
                <input asp-for="Volunteer.Occupation_description" class="form-control" />
                <span asp-validation-for="Volunteer.Occupation_description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.InActivity" /> @Html.DisplayNameFor(model => model.Volunteer.InActivity)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.HourCount" class="control-label"></label>
                <input asp-for="Volunteer.HourCount" class="form-control" />
                <span asp-validation-for="Volunteer.HourCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
