@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p><h2>This application was made during a SIEMENS internship by Corina Gramada and Fleischman Krisztian as charity for a non-profit organisation.</h2></p>
