@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Volunteer-Event App</h1>
</div>

<div>
    <h2><a href="../Volunteer/Birthday">Birthday Alert</a>.</h2>
    <h2><a href="../Volunteer/ContractExp">Contract Alert</a>.</h2>
    <h2><a href="../Json/Index">Backup</a>.</h2>


</div>
