@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Siemens<br />
    Brasov, Romania<br />
    <abbr title="Phone">Phone:</abbr>
    0755 296 273
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:fleischman.krisztian@gmail.com">fleischman.krisztian@gmail.com</a><br />
</address>