@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Volunteer-Event App</h1>
</div>

<div>
    @*TREBUIE FACUT sa nu fie Hardcodat*@
    <h2><a href="http://localhost:52926/Volunteer/Index">List of volunteers</a>.</h2>
    <h2><a href="http://localhost:52926/Event/Index">List of events</a>.</h2>

</div>

<div>
    <h2>Upcoming birthdays!!!</h2>
    <h2>Upcoming contract expiration date!!!</h2>

</div>